<!-- BANNER -->
<%= render '/layouts/navbar' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3071&q=80);">
  <div class="container">
    <h1>cocktailaculous</h1>
    <br>
    <br>
    <br>
    <br>
    <%= simple_form_for :search, url: specify_path("search"), method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Let's get you drunk..." />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
    <br>
    <p><em>Cocktail:</em> Came from a bartender who mixed her drinks with rooster tail feathers. One night a man came in and asked for "One of those cock-tails", and thus the phrase was born. </p>
  </div>
</div>

<div class="background">
  <div class="container py-5">
    <% @spirits.each do |spirit, img_url| %>
      <%= link_to specify_path(spirit, background: img_url) do %>
        <div class="card-category my-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= img_url %>)">
          <%= spirit.capitalize %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


