<%= render '/layouts/navbar' %>
<div class ="background-new" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @background %>);">
  <div class="container py-5">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail.id) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo %>)">
            <%= cocktail.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
